{namespace dce=ArminVieweg\Dce\ViewHelpers}
{namespace c=TYPO3\CMS\Core\ViewHelpers}
<div class="typeicon">
	<f:if condition="{dce.wizardIcon} == 'custom'">
		<f:then>
			<img src="../{dce.selectedWizardIconPath}" width="32" height="32" />
		</f:then>
		<f:else>
			<c:icon identifier="{dce.selectedWizardIconPath}" size="default" />
		</f:else>
	</f:if>
	<div class="overlay">
		<f:if condition="{dce.type} == 0">
			<f:then>
				<f:image src="{f:uri.resource(path:'Icons/tx_dce_domain_model_dce_databased.png')}" />
			</f:then>
			<f:else>
				<f:image src="{f:uri.resource(path:'Icons/tx_dce_domain_model_dce_filebased.png')}" />
			</f:else>
		</f:if>
	</div>
</div>
